* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DotGothic16', sans-serif;
  background: url('background.jpg') no-repeat center center fixed;
  background-size: cover;
  cursor: url('cursor-default.cur'), auto;
  overflow: hidden;
}

/* Кастомная рука на кнопках */
button,
.modal button {
  cursor: url('cursor-pointer.cur'), pointer;
}

#modal-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Модалки */
.modal {
  position: absolute;
  width: 300px;
  background-color: #e0e0e0;
  border: 2px solid #000;
  box-shadow: 3px 3px 0 #333;
  animation: shake 0.3s infinite alternate;
  font-size: 14px;
  z-index: 10;
}

.modal-header {
  background-color: #00007f;
  color: white;
  padding: 4px 8px;
  font-size: 14px;
  border-bottom: 1px solid #000;
}

.modal-content {
  padding: 10px;
}

.modal-buttons {
  text-align: right;
  padding: 8px 10px;
}

.modal button {
  font-family: 'DotGothic16', sans-serif;
  background-color: white;
  border: 1px solid #000;
  padding: 2px 8px;
  margin-left: 4px;
}

/* Дрожание */
@keyframes shake {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(1px, 1px);
  }
}
